VITE_API_URL=http://localhost:5000/api/v1
VITE_SITE_URL=https://secritou.com
VITE_ANALYTICS_DEBUG=false
VITE_GA_ID=G-XXXXXXXXXX
VITE_POSTHOG_KEY=phc_XXXXXXXXXX
VITE_POSTHOG_HOST=https://app.posthog.com
